<!-- timetableadditems.html -->
<!-- Adatok es idopontok hozzaadasa, kiirasa az orarendhez -->
	
	
<div class="container-fluid" th:fragment="content" align="left" style="width:80%" >

	<!-- include image from static resources -->
	<div class="text-center"><img th:src="@{/img/bathlogo.png}" style="width:52px;height:80px;"  alt="Logo"  class=" p-1"></div>
	
	<h3 align="Center"><p th:text="#{header.scheduleProcTimes}">Schedule proc times</p></h3>
	
		<!-- Added procedures days and times to databas -->
		<div>
		<form action="#" th:action="@{/add}" method="post">
			<table class="table table-striped table-light">
				<thead class="table-primary">
					<tr>
						<th scope="col" th:text="#{procedures.name}">Procedure Name</th>
						<th scope="col" th:text="#{procedures.day}">Day</th>
						<th scope="col" th:text="#{procedures.startTime}">Start Time</th>
						<th scope="col" th:text="#{procedures.add}">Add</th>
						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td >
							<select type="text" class="form-control" th:name="proceduresEntity">
									<option value="1" th:text="#{proceduresName.medicalMassage}" selected></option>
									<option value="2" th:text="#{proceduresName.mudPacks}"></option>
									<option value="3" th:text="#{proceduresName.carbonedBath}"></option>
									<option value="4" th:text="#{proceduresName.thermalBath}"></option>
									<option value="5" th:text="#{proceduresName.spaWithMedicinalWater}"></option>
									<option value="6" th:text="#{proceduresName.weightBath}"></option>
									<option value="7" th:text="#{proceduresName.underwaterJetMassage}"></option>
									<option value="8" th:text="#{proceduresName.compartmentGalvanized}"></option>
									<option value="9" th:text="#{proceduresName.phyaction}"></option>
									<option value="10" th:text="#{proceduresName.interference}"></option>
									<option value="11" th:text="#{proceduresName.iontophoresis}"></option>
									<option value="12" th:text="#{proceduresName.bioptron}"></option>
									<option value="13" th:text="#{proceduresName.saltCave}"></option>
							</select>
						</td>
					
						<td >
							<select type="text" class="form-control" th:name="day">
									<option value="Hétfő" th:text="#{days.monday}" selected>Monday</option>
									<option value="Kedd" th:text="#{days.tuesday}">Tuesday</option>
									<option value="Szerda" th:text="#{days.wednesday}">Wednesday</option>
									<option value="Csütörtök" th:text="#{days.thursday}">Thursday</option>
									<option value="Péntek" th:text="#{days.friday}">Friday</option>
							</select>
						</td>
						
						<td >
							<select type="text" class="form-control" th:name="time">
									<option value="09:00" text="09:00" selected>09:00</option>
									<option value="09:30" text="09:30">09:30</option>
									<option value="10:00" text="10:00">10:00</option>
									<option value="10:30" text="10:30">10:30</option>
									<option value="11:00" text="11:00">11:00</option>
									<option value="13:00" text="13:00">13:00</option>
									<option value="13:30" text="13:30">13:30</option>
									<option value="14:00" text="14:00">14:00</option>
									<option value="14:30" text="14:30">14:30</option>
									<option value="15:00" text="15:00">15:00</option>
									<option value="15:30" text="15:30">15:30</option>
									<option value="16:00" text="16:00">16:00</option>
							</select>
						</td>
						
						<!-- BUTTON: Add new procedures time -->
						<td>
							<button type="submit" class="btn btn-outline-primary" th:title="#{button.procedureTimeAdded}">
								<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"> </span>
							</button>                                 
						</td>
							
					</tr>
				</tbody>
			</table>
	 </form>
	</div>
	
	<br/>
	<br/>
	<!-- Show all added procedures times -->
	<h3 align="center"><p th:text="#{procedures.times}">Procedures Times</p></h3>
	
	
	
	
			
			<!-- Show added procedures times, days and datas in the table -->
			<table class="table table-striped table-light table-sm" >
				<thead class="table-primary">
					<tr>
						<th scope="col" th:text="#{procedures.name}">Procedure Name</th>
						<th scope="col" th:text="#{procedures.capacity}">Capacity</th>
						<th scope="col" th:text="#{procedures.treatmentTime}">Treatment time - kezelesi ido</th>
						<th scope="col" th:text="#{procedures.section}">Section</th>
						<th scope="col" th:text="#{procedures.room}">Room</th>
						<th scope="col" th:text="#{procedures.day}">Day</th>
						<th scope="col" th:text="#{procedures.startTime}">Start time</th>
						<th scope="col" th:text="#{button.delete}">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="procTime : ${listOfProcTimes}">
						<td th:text="${procTime.proceduresEntity.procName}">Procedure Name</td>
						<td th:text="${procTime.proceduresEntity.procCapacity}">Capacity</td>
						<td th:text="${procTime.proceduresEntity.procTime}">Treatment time</td>
						<td th:text="${procTime.proceduresEntity.procSection}">Section</td>
						<td th:text="${procTime.proceduresEntity.procRoom}">Room</td>
						<td th:text="${procTime.day}">Day</td>
						<td th:text="${procTime.time}">Time</td>
					

						<!-- BUTTON: Remove added procedures time   th:action="@{/compofproctimetable/}+${procTime.idProceduresCompilation}+'/'"-->
						<td>
							<form action="#" th:action="@{/compofproctimetable/{id}(id=${procTime.idProceduresCompilation})}" method="POST" data-confirm="Biztosan törölni akarod a kiválasztott procedúra időpontot?">
								<button type="submit" class="btn btn-outline-primary" th:title="#{button.procedureTimeAdded}">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
								</button>
							</form>                                  
						</td>
	
					</tr>
				</tbody>
			</table>
	

	<!-- Javascript -->
	<script th:inline="javascript">

	$(document).on('submit', 'form[data-confirm]', function(e){
	    if(!confirm($(this).data('confirm'))){
	    	e.stopImmediatePropagation();
	      e.preventDefault();
			}
	});
	
	</script>	
	    
</div>