<!-- statistics.html -->
<!-- How many procedures have been performed -->

<div class="container-fluid" th:fragment="content" align="left" style="width:80%" >
		<div class="row justify-content-md-center">
			<div class="col-sm-8 border border-primary shadow rounded pt-2">	<!-- Title -->

				<!-- include image from static resources -->
				<div class="text-center"><img th:src="@{/img/bathlogo.png}" style="width:52px;height:80px;"  alt="Logo"  class=" p-1"></div>
			
				<h2 align="center" class="boldthick"><p th:text="#{statistics.completedProcTitle}"> Statistics of completed bath procedures</p></h2>
				
				<!-- Info (button) -->
				<div align="left">
					<button type="button" class="btn btn-outline-primary rowsMargin rounded-circle" onclick="togleInfoTab();" th:title="#{button.showTips}">
							<span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>
					</button>
				</div>			
		
				<!-- Info (felugro ablak) -->
				<div class="p-3 border rounded bg-light table" role="alert" style="display:none;" id="infoTab">
					<label th:text="#{label.notice9}"></label>
					<p>
						<li th:text="#{label.notice10}"></li>
						<li th:text="#{label.notice11}"></li>
					</p>
				</div>

				<!-- Statistics of completed bath procedures -->
				<div align="center">	
					<table class="table table-striped table-sm table-bordered table-light" style="width:70%" align="center">
						<col width="75%">
			  			<col width="25%">
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.medicalMassage}"></th>
				  			<td class="column" style="text-align: center;" th:text="${medicalMassage}">medicalMassage</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.mudPacks}"></th>
				  			<td class="column" style="text-align: center;" th:text="${mudPacks}">mudPacks</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.carbonedBath}"></th>
				  			<td class="column" style="text-align: center;" th:text="${carbonedBath}">carbonedBath</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.thermalBath}"></th>
				  			<td class="column" style="text-align: center;" th:text="${thermalBath}">thermalBath</td>
						</tr>
			
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.spaWithMedicinalWater}"></th>
				  			<td class="column" style="text-align: center;" th:text="${spaWithMedicinalWater}">spaWithMedicinalWater</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.weightBath}"></th>
				  			<td class="column" style="text-align: center;" th:text="${weightBath}">weightBath</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.underwaterJetMassage}"></th>
				  			<td class="column" style="text-align: center;" th:text="${underwaterJetMassage}">underwaterJetMassage</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.compartmentGalvanized}"></th>
				  			<td class="column" style="text-align: center;" th:text="${compartmentGalvanized}">compartmentGalvanized</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.phyaction}"></th>
				  			<td class="column" style="text-align: center;" th:text="${phyaction}">phyaction</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.interference}"></th>
				  			<td class="column" style="text-align: center;" th:text="${interference}">interference</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.iontophoresis}"></th>
				  			<td class="column" style="text-align: center;" th:text="${iontophoresis}">iontophoresis</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.bioptron}"></th>
				  			<td class="column" style="text-align: center;" th:text="${bioptron}">bioptron</td>
						</tr>
						
						<tr align="left">
				  			<th class="column boldthick" th:text="#{proceduresName.saltCave}"></th>
				  			<td class="column" style="text-align: center;" th:text="${saltCave}">saltCave</td>
						</tr>
					</table>
				</div>	
			
				<br/>
				<br/>
				
		</div>
	</div>
</div>
	

    
